<html   xmlns="http://www.w3.org/1999/xhtml"   
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/baseEmployee">
    <head>
        <title>Hotel - Empleado</title>
    </head>
    <body>
        <div layout:fragment="containerEmployee">
            <div class = "container">
                <div class="row-fluid">

                    <div class="span6" style="margin: 60px 28% !important;">
                        <div class = "widget">
                            <div class="widget-header">
                                <h2 class="reservTitle">Agregar Cliente</h2>
                            </div>
                            <div class="widget-content">
                                <form method="POST" th:action="@{/employee/addClient}" th:object="${addClient}" data-js="addClient">
                                    <div th:if="${errorAddClient}==1" class="alert alert-danger errorGeneral">
                                        <strong>Problema:</strong> La creaci&oacute;n se complet&oacute; con errores. Favor de volver a intentar.
                                    </div>
                                    <div class="content-form">
                                        <div class="row-fluid reservation">
                                            <div class="span6">
                                                <div class="control-group forms reservationForm">
                                                    <label class="control-label" for="">Usuario</label>
                                                </div>
                                            </div>

                                            <div class="span6">
                                                <div class="controls">
                                                    <input id="username" class="span2 reservationFormInput" type="text" th:field="*{userName}"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="content-form">
                                        <div class="row-fluid reservation">
                                            <div class="span6">
                                                <div class="control-group forms reservationForm">
                                                    <label class="control-label" for="">Contrase&ntilde;a</label>
                                                </div>
                                            </div>

                                            <div class="span6">
                                                <div class="controls">
                                                    <input id="password" class="span2 reservationFormInput" type="password" th:field="*{password}"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="content-form">
                                        <div class="row-fluid reservation">
                                            <div class="span6">
                                                <div class="control-group forms reservationForm">
                                                    <label class="control-label" for="">Nombre</label>
                                                </div>
                                            </div>

                                            <div class="span6">
                                                <div class="controls">
                                                    <input id="name" class="span2 reservationFormInput" type="text" th:field="*{name}"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="content-form">
                                        <div class="row-fluid reservation">
                                            <div class="span6">
                                                <div class="control-group forms reservationForm">
                                                    <label class="control-label" for="">Apellido Paterno</label>
                                                </div>
                                            </div>

                                            <div class="span6">
                                                <div class="controls">
                                                    <input id="lastNamePat" class="span2 reservationFormInput" type="text" th:field="*{lastNamePat}"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="content-form">
                                        <div class="row-fluid reservation">
                                            <div class="span6">
                                                <div class="control-group forms reservationForm">
                                                    <label class="control-label" for="">Apellido Materno</label>
                                                </div>
                                            </div>

                                            <div class="span6">
                                                <div class="controls">
                                                    <input id="lastNameMat" class="span2 reservationFormInput" type="text" th:field="*{lastNameMat}"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="content-form">
                                        <div class="row-fluid reservation">
                                            <div class="span6">
                                                <div class="control-group forms reservationForm">
                                                    <label class="control-label" for="">Correo Electr&oacute;nico</label>
                                                </div>
                                            </div>

                                            <div class="span6">
                                                <div class="controls">
                                                    <input id="email" class="span2 reservationFormInput" type="text" th:field="*{email}"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="content-form">
                                        <div class="row-fluid reservation">
                                            <div class="span6">
                                                <div class="control-group forms reservationForm">
                                                    <label class="control-label" for="">Ciudad</label>
                                                </div>
                                            </div>

                                            <div class="span6">
                                                <div class="controls">
                                                    <input id="city" class="span2 reservationFormInput" type="text" th:field="*{city}"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="content-form">
                                        <div class="row-fluid reservation">
                                            <div class="span6">
                                                <div class="control-group forms reservationForm">
                                                    <label class="control-label" for="">Pa&iacute;s</label>
                                                </div>
                                            </div>

                                            <div class="span6">
                                                <div class="controls">
                                                    <input id="country" class="span2 reservationFormInput" type="text" th:field="*{country}"></input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row-fluid" >
                                        <div class="span3 reservBtn">
                                            <a>
                                                <button class="button btn btn-success btn-large" type="submit">Agregar</button>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div><!--widget-content-->	
                        </div><!--widget-->
                    </div><!--span6-->
                </div><!--row-fluid-->


            </div>

        </div>

        <div layout:fragment="scripts">
            
            <script src="js/addClient.js" th:src="@{/js/addClient.js}"></script>
        </div>
    </body>
</html>

<script type="text/javascript" th:inline="javascript" >

    var addClientSuccess = /*[[${addClientSuccess}]]*/ '0';

    $(document).ready(function () {
        initClient();
    });

</script>




