<html   xmlns="http://www.w3.org/1999/xhtml"   
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        >
    <head>
        <title>Hotel - Prueba</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta http-equiv='X-UA-Compatible' content='IE-11' />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" type = "image/png" th:ref="@{/images/hotel-icon.png}" href="images/hotel-icon.png"/>
    </head>
    <body>
        <h1>PRUEBA</h1>
        <input id="prueba" th:value="${user}"></input>
    </body>
</html>


