<html   xmlns="http://www.w3.org/1999/xhtml"   
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/baseEmployee">
    <head>
        <title>Hotel - Empleado</title>
        <link href="js/library/daterangepickermaster/daterangepicker.css" 
              th:href="@{/js/library/daterangepickermaster/daterangepicker.css}" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
        <div layout:fragment="containerEmployee">
            <div class = "container" style="margin-bottom: 40px;">
                <div class="row-fluid">
                    <div class="span6" style="margin: 65 28% !important;">
                        <div class = "widget">
                            <div class="widget-header">
                                <h2 class="reservTitle">Reservaci&oacute;n</h2>
                            </div>
                            <div class="widget-content">
                                <form method="POST" th:action="@{'/employee/'+${reservation.getIdCliente()}+'/reservation'}" th:object="${reservation}" data-js="reservation">
                                    <div th:if="${errorReserv}==1" class="alert alert-danger errorGeneral">
                                        <strong>Problema:</strong> La reservaci&oacute;n se complet&oacute; con errores. Favor de volver a intentar.
                                    </div>
                                    <div class="content-form">
                                        <div class="row-fluid reservation">
                                            <div class="span6">
                                                <div class="control-group forms reservationForm">
                                                    <label class="control-label" for="">N&uacute;mero de Habitaciones</label>

                                                </div>
                                            </div>

                                            <div class="span6">
                                                <div class="controls">
                                                    <select id="" class="span2" th:field="*{nroRooms}">
                                                        <option value="0">Seleccione</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="span12" align="center">
                                                <span th:if="${#fields.hasErrors('nroRooms')}" th:errors="*{nroRooms}" class="error">nroRoom Error</span>
                                            </div>
                                        </div>
                                       
                                    </div>

                                    <div class="content-form">
                                        <div class="row-fluid reservation">
                                            <div class="span6">
                                                <div class="control-group forms reservationForm">
                                                    <label class="control-label" for="">Registro de Llegada</label>
                                                </div>
                                            </div>

                                            <div class="span6">
                                                <div class="controls">
                                                    <input id="checkin" class="span2 reservationFormInput" placeholder="Llegada" type="text" th:field="*{checkIn}" ></input>
                                                </div>
                                            </div>
                                            <div class="span12" align="center">
                                                <span th:if="${#fields.hasErrors('checkIn')}" th:errors="*{checkIn}" class="error">checkin Error</span>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div class="content-form">
                                        <div class="row-fluid reservation">
                                            <div class="span6">
                                                <div class="control-group forms reservationForm">
                                                    <label class="control-label" for="">Registro de Salida</label>
                                                </div>
                                            </div>

                                            <div class="span6">
                                                <div class="controls">
                                                    <input id="checkout" class="span2 reservationFormInput" type="text" placeholder="Salida" th:field="*{checkOut}"></input>
                                                </div>
                                            </div>
                                            <div class="span12" align="center">
                                                <span th:if="${#fields.hasErrors('checkOut')}" th:errors="*{checkOut}" class="error">checkout Error</span>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div class="content-form">
                                        <div class="row-fluid reservation">
                                            <div class="span6">
                                                <div class="control-group forms reservationForm">
                                                    <label class="control-label" for="">Servicios</label>

                                                </div>
                                            </div>

                                            <div class="span6">
                                                <div class="controls">
                                                    <select id="services" multiple="multiple" class="span2" th:field="*{services}">
                                                        <option th:each="servicio : ${servicios}"
                                                                th:value="${servicio.name}"
                                                                th:text="${servicio.name}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="span12" align="center">
                                                <span th:if="${#fields.hasErrors('services')}" th:errors="*{services}" class="error">services Error</span>
                                            </div>
                                        </div>
                                     
                                    </div>

                                    <div class="content-form">
                                        <div class="row-fluid reservation">
                                            <div class="span6">
                                                <div class="control-group forms reservationForm">
                                                    <label class="control-label" for="">Tipo de Habitaci&oacute;n</label>

                                                </div>
                                            </div>

                                            <div class="span6">
                                                <div class="controls">
                                                    <select id="typeRooms" class="span2" th:field="*{typeRoom}">
                                                        <option value="0">Seleccione</option>
                                                        <option th:each="typeRoom : ${typeRooms}"
                                                                th:value="${typeRoom.name}"
                                                                th:text="${typeRoom.name}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="span12" align="center">
                                                <span th:if="${#fields.hasErrors('typeRoom')}" th:errors="*{typeRoom}" class="error">typeRoom Error</span>
                                            </div>
                                        </div>
                                       
                                    </div>

                                    <div class="row-fluid" >
                                        <div class="span3 reservBtn">
                                            <a>
                                                <button class="button btn btn-success btn-large" type="submit">Registrar</button>
                                            </a>
                                        </div>
                                    </div>
                                    <input id="hideId" class="span2 reservationFormInput" th:value="${reservation.getIdCliente()}" type="hidden"></input>
                                </form>
                            </div>	
                        </div>
                    </div>
                </div>
            </div>




        </div>

        <div layout:fragment="scripts">
            <script src="js/library/daterangepickermaster/moment.min.js" th:src="@{/js/library/daterangepickermaster/moment.min.js}"></script>
            <script src="js/library/daterangepickermaster/daterangepicker.js" th:src="@{/js/library/daterangepickermaster/daterangepicker.js}"></script>
            <script src="js/reservationEmployee.js" th:src="@{/js/reservationEmployee.js}"></script>
        </div>
    </body>
</html>

<script type="text/javascript" th:inline="javascript" >

    var reservSucess = /*[[${reservSucess}]]*/ '0';

    $(document).ready(function () {
        initReservEmp();
    });

</script>



