/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/10/2016, 11:47:47 PM
    Author     : Tavo
*/

.banner-hotel{
    background-color: #264d00 !important;
}

.banner-hotel a{
    color: #e6e6e6 !important;
}

.footer-hotel p{
    color: #e6e6e6 !important;
}

.withoutSpace-banner{
    min-height: 10px !important;
}

.ul-hotel{
    float: right !important;
}

.footerHotel {
  position: absolute !important;
  right: 0 !important;
  bottom: 0!important;
  left: 0 !important;
  padding: 1rem !important;
  background-color: #0d0d0d !important;
  text-align: center !important;
}

.textFooterHotel{
	color: #f2f2f2 !important;
}


.reservation{
	margin: 5px auto !important;
}

.reservationForm{
	float: right;
	padding-top: 4px;
}

.reservationFormInput{
	height: 25px !important;
}

.reservTitle{
	text-align: center !important;
	font-size: 20px;
	font-weight: bold;
	color: #0d511f;
}

.reservBtn{
	margin: 5px auto;
	padding-left: 65%;
}

