/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/11/2016, 12:05:43 AM
    Author     : Tavo
*/

.tableRoom{
    
    
}

.tableRoom select{
    display: initial !important;
    width: 60px !important;
}

.tableRoom input{
    display: initial !important;
    margin-left: 5px !important;
}